
#coinSection {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
   
     
    section{
        width: 25%;
        min-width: 100px;
        margin: 2%;
       
    }
    
    .circle{
        margin: 2% auto;
        width: 30%;
        min-width: 100px;
        min-height: 100px;
        text-align: center;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #ffd6a5;
        box-shadow: 2px 2px 2px 1px rgba(130, 130, 130, 0.8);
        border-style: solid;
        border-width: 2px;
        border-color: #828282;
        flex-basis: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
       
        
    }
    .rotate {
        animation: flipHeads 5s;
        animation-fill-mode: forwards;  
        animation-duration: 5s;        
        @keyframes flipHeads { from{ transform: rotateY(0deg); } 
        to{ transform: rotateY(1800deg);} }
        
    }
    
}







