header {
    padding-bottom: 1em;
    h1{
    background-color: #a0c4ff;
    text-align: center;  
    width: 100%;
    font-family: Abhaya Libre ExtraBold;
    padding: 0.5em 1.5em;
    font-size: 2em;
}

}